* {
    box-sizing: border-box; /* The box-sizing property allows us to include the padding and border in an element's total width and height.*/
    /*border: 1px solid black;*/
    margin: 0px;
    padding: 0px;
}
@media (max-width: 1200px) and (orientation: landscape){
    div.portfolio-item img{
        width: 80%!important;
        height: auto!important;
    }
    .scrollhint {
        position: absolute;
        left: 80vw;
        top: 15vh;
        text-align: center;
        font-size: 3vw;
      }
      .scrollhint::after {
        content:"Scroll :)";
        animation: pulse 2s infinite;
      }
      @keyframes pulse {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    div.parent-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
        justify-content: center;
    }
    body.background-img{
        position: relative;
    }
    body.background-img::before {
        content: '';
        position: absolute; /*makes shure the background img is the same size as the parent*/
        top: 0px!important;
        left: 0px!important;
        background-image: url("img/bulblight.svg");
        background-repeat: no-repeat;
        background-size: 100vw 100vh!important;
        opacity: 0.25;
        z-index:-1;
    }
    div.right-col-main {
        /*background-color: green;*/
        margin-top: 0rem;
    }
    div.left-col-logo{
        justify-content:center;
        width: 100vw;
        height: 100vh;
    }
    #left-col p.logotext1 {
        top: -4rem;
        left: 2rem;
        font-size: 30vw;
    }
    #left-col p.logotext2 {
        top: 20vh;
        left: 0.3rem;
        font-size: 30vw;
    }
    #left-col p.logotext3 {
        top: 55vh;
        left: 0.3rem;
        font-size: 22vw;
    }
    nav ul {
        flex-wrap: wrap;
    }
    nav a {
        width: 100vw;
        text-align: center;
        margin-left: 0rem;
        background-color: lightsteelblue;
    }
}
@media (max-width: 1200px) and (orientation: portrait){
    div.portfolio-item img{
        width: 80%!important;
        height: auto!important;
    }
    div.portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr))!important;
        column-gap: 20px; 
        row-gap: 0px;       
    }
    .scrollhint {
        position: absolute;
        width: 100vw;
        top: 85vh;
        text-align: center;
        font-size: 5vw;
      }
      .scrollhint::after {
        content:"Why don't you scroll down? :)";
        animation: pulse 2s infinite;
      }
      @keyframes pulse {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

    div.parent-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
        justify-content: center;
    }
    body.background-img{
        position: relative;
    }
    body.background-img::before {
        content: '';
        position: absolute; /*makes shure the background img is the same size as the parent*/
        top: 0px!important;
        left: 0px!important;
        background-image: url("img/bulblight.svg");
        background-repeat: no-repeat;
        background-size: 100vw 100vh!important;
        opacity: 0.25;
        z-index:-1;
    }
    div.right-col-main {
        /*background-color: green;*/
        margin-top: 0rem;
    }
    div.left-col-logo{
        justify-content:center;
        width: 100vw;
        height: 100vh;
    }
    #left-col p.logotext1 {
        top: 5vh;
        left: 2rem;
        font-size: 35vw;
    }
    #left-col p.logotext2 {
        left: 0.3rem;
        top: 25vh;
        font-size: 30vw;
    }
    #left-col p.logotext3 {
        left: 0.3rem;
        top: 60vh;
        font-size: 20vw;
    }
    nav ul {
        flex-wrap: wrap;
        width: 100%;
    }
    nav a {
        width: 100%;
        text-align: center;
        margin-left: 0rem;
        background-color: lightsteelblue;
    }
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Quantico', sans-serif;
    margin-top: 0rem;
}
body.background-img{
    position: relative;
}
body.background-img::before {
    content: '';
    position: absolute; /*makes shure the background img is the same size as the parent*/
    top: 0px;
    left: 10rem;
    right: 0px;
    bottom: 0px;
    background-image: url("img/bulblight.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 600px;
    opacity: 0.25;
    z-index:-1;
}

.parent-container {
    display: grid;
    gap: 0 20px;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 100vh;
    overflow: hidden;
}
div.left-col-logo{
    /*background-color: red;*/
    /*width: 600px;
    height: 100%;*/
    position: sticky;
    top: 0px;
}
.right-col-main {
    /*background-color: green;*/
    margin-top: 3rem;
    overflow-y: scroll;
}
nav ul {
    display: flex;
}
nav ul a {
    flex-grow: 1;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem
}
nav a a {
    margin-left: 3rem;
}
nav a:hover {
    background-color:lightsteelblue;
}
div p.logotext1 {
    font-weight: bold;
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 15rem;
}
div p.logotext2 {
    font-weight: bold;
    position: absolute;
    top: 17rem;
    left: 0.5rem;
    font-size: 8rem;
    color: lightsteelblue;
}
div p.logotext3 {
    font-weight: bold;
    position: absolute;
    top: 30rem;
    left: 0.5rem;
    font-size: 8rem;
}
h2.h2-sections {
    font-size: 2.5rem;
}
#aboutme {
    margin: 1rem;
}
p.aboutme {
    border: 4px dashed black;
    border-radius: 5px;
    padding: 1rem;
}

div.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}
div.portfolio-item {
    border: 4px dashed black;
    border-radius: 5px;
}
#portfolio {
    margin: 1rem;
}
h3.h3-portfolio {
    padding-left: 1rem;
    padding-top: 1rem;
}
div.portfolio-item img{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: auto;
    height: 250px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
p.p-portfolio{
    word-wrap: break-word;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
a {
    color: black;
}
form {
    max-width: 100%;
}
.feedback-input{
    font-family: 'Quantico', sans-serif;
    border: 4px dashed black;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: black;
    outline: 0px;
}
textarea {
    height: 150px;
    line-height: 150%;
}
.submitbutton {
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: 4px dashed black;
    border-radius: 5px;
    height: 3rem;
    width: auto;
    background-color: white;
    cursor: pointer;
}
.submitbutton:hover {
    color: lightsteelblue;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
